name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
          
      - name: Install Dependencies
        run: yarn
      
      - name: Build the project
        run: yarn build
        
      - name: Lint JS
        run: yarn test
